body {
  width: 100%;
  height: 100%;
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
  font-weight: 400;
  background-color: white;
  font-size: 13px;
  overflow-x: hidden; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Exo","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  letter-spacing: 1px; }

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    p {
      margin: 0 0 35px;
      font-size: 20px;
      line-height: 1.6; } }

a {
  color: #ed18ae;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #940b6b; }

.light {
  font-weight: 100; }

.bold {
  font-weight: 800; }

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Exo","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black; }
  .navbar-custom .navbar-brand {
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: 55% 50%;
    background-repeat: no-repeat;
    font-weight: 700;
    min-width: 90px;
    margin-left: 15px; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
    .navbar-custom .navbar-brand .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: white; }
      .navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
        outline: none; }
  .navbar-custom a {
    color: white;
    font-weight: 100; }
  .navbar-custom .nav li {
    overflow: hidden; }
    .navbar-custom .nav li a {
      -webkit-transition: background .3s ease-in-out;
      -moz-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out; }
      .navbar-custom .nav li a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        background-color: #ed18ae;
        width: 100%;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .navbar-custom .nav li a:hover {
        color: rgba(255, 255, 255, 0.8);
        outline: none;
        background-color: transparent; }
      .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
        outline: none;
        background-color: transparent; }
    .navbar-custom .nav li.active {
      outline: none; }
      .navbar-custom .nav li.active a:after {
        bottom: 0;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .navbar-custom .nav li.active a:hover {
        color: white; }
  @media (min-width: 768px) {
    .navbar-custom {
      padding: 10px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: rgba(0, 0, 0, 0.7);
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out; }
      .navbar-custom.top-nav-collapse {
        padding: 0;
        background: black; } }

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  overflow: hidden; }
  .intro:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-filter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .intro #video-viewport {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
    /* for accessing the video by click */ }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      font-size: 40px;
      color: #ed18ae; }
    .intro .intro-body .intro-text {
      font-size: 18px; }
  @media (min-width: 768px) {
    .intro {
      height: 100%;
      padding: 0; }
      .intro .intro-body .brand-heading {
        font-size: 100px; }
      .intro .intro-body .intro-text {
        font-size: 16px;
        letter-spacing: 35px; } }

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  .btn-circle:hover, .btn-circle:focus {
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.3); }
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

.content-section {
  padding-top: 100px; }

.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 250px; }

  .download-section {
    padding: 100px 0; }

  #map {
    height: 400px;
    margin-top: 250px; } }
.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #ed18ae;
  color: #ed18ae;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #ed18ae;
    outline: none;
    color: black;
    background-color: #ed18ae; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  padding: 50px 0; }
  footer p {
    margin: 0; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: white; }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: white; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: white; }
