@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    font-weight: 400;
    background-color: white;
    font-size: 13px;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Exo","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 800;
}

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Exo","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    .navbar-brand {
        background-image: url(../img/logo.png);
        background-size: contain;
        background-position: 55% 50%;
        background-repeat: no-repeat;
        font-weight: 700;
        min-width: 90px;
        margin-left: 15px;
        &:focus {
            outline: none;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 16px;
            color: white;
            &:focus,
            &:active {
                outline: none;
            }
        }
    }
    a {
        color: white;
        font-weight: 100;
    }
    .nav {
        li {
            overflow: hidden;

            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;

                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    height: 3px;
                    background-color: $primary;
                    width: 100%;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;

                }

                &:hover {
                    color: rgba(255,255,255,0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {

                    &:after{
                        bottom: 0;
                        -webkit-transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 10px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: rgba(0,0,0,0.7);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
           // border-bottom: 1px solid opacify(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    overflow: hidden;

    //background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;

    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //background-size: cover;
    //-o-background-size: cover;

    &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-filter.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    //video {
    //    position: absolute;
    //    top: 50%;
    //    left: 50%;
    //    min-width: 100%;
    //    min-height: 100%;
    //    width: auto;
    //    height: auto;
    //    z-index: -1;
    //    -webkit-transform: translateX(-50%) translateY(-50%);
    //    transform: translateX(-50%) translateY(-50%);
    //   // background: url(polina.jpg) no-repeat;
    //    background-size: cover;
    //
    //
    //
    //}

    #video-viewport {
        position: absolute;
        top: 0;
        overflow: hidden;
        z-index: -1; /* for accessing the video by click */
    }


    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
            //font-weight: 100;
            color: $primary;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 16px;
                letter-spacing: 35px;
            }
        }
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(255,255,255,0.3);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}



//@-webkit-keyframes pulse {
//    0 {
//        -webkit-transform: scale(1);
//        transform: scale(1);
//    }
//
//    50% {
//        -webkit-transform: scale(1.2);
//        transform: scale(1.2);
//    }
//
//    100% {
//        -webkit-transform: scale(1);
//        transform: scale(1);
//    }
//}
//
//@-moz-keyframes pulse {
//    0 {
//        -moz-transform: scale(1);
//        transform: scale(1);
//    }
//
//    50% {
//        -moz-transform: scale(1.2);
//        transform: scale(1.2);
//    }
//
//    100% {
//        -moz-transform: scale(1);
//        transform: scale(1);
//    }
//}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: opacify(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: opacify(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: opacify(white, 0.2);
}